.backward-button {
    -fx-graphic: url('../Image/backward.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.delete-button {
    -fx-graphic: url('../Image/remove.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}