body {
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: bold;
}

p {
    margin: 0 0 10px 0;
}