/* Search.css */
.edit-button {
    -fx-graphic: url('../Image/edit.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50%;
    -fx-padding: 10;
}
.delete-button {
    -fx-graphic: url('../Image/remove.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50%;
    -fx-padding: 10;
}
.button-home {
    -fx-background-image: url('../Image/home.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 30px;
    -fx-background-color: #ADD8E6;
    -fx-background-radius: 5; /* Điều chỉnh độ cong của nút */
    -fx-pref-width: 50;
    -fx-pref-height: 35;
}
.button-home:hover {
    -fx-background-color: #FFEA00; /* Màu vàng nhạt khi hover */
}
.add-button {
    -fx-graphic: url('../Image/add.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50%;
    -fx-padding: 10;
}
.audio-button {
    -fx-graphic: url('../Image/speak1.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50%;
    -fx-padding: 10;
}
/*ListView*/
.list-view {
    -fx-background-radius: 10; /* Điều chỉnh độ cong của viền */
    -fx-border-radius: 10; /* Điều chỉnh độ cong của biên */
    -fx-padding: 10; /* Điều chỉnh độ dày của viền */
    -fx-border-color: #8e24aa; /* Màu của biên */
    -fx-border-width: 2; /* Độ rộng của biên */
    -fx-font-family: "Arial";
}
.list-view:hover {
    -fx-background-color: #add8e6;
}

.list-cell {
    -fx-background-color: #87CEEB;
}

.list-cell:hover {
    -fx-background-color: #add8e6;
}
.list-view .scroll-bar {
    -fx-background-radius: 5; /* Điều chỉnh độ cong của viền của ScrollBar */
}
.list-cell:selected {
    -fx-background-color: #800080; /* Màu tím */
    -fx-text-fill: white; /* Màu chữ trắng để đảm bảo độ đọc được */
}
/*TextField*/
.text-field {
    -fx-background-radius: 10; /* Điều chỉnh độ cong của viền */
    -fx-border-radius: 10; /* Điều chỉnh độ cong của biên */
    -fx-padding: 10; /* Điều chỉnh độ dày của viền */
    -fx-border-color: #8e24aa; /* Màu của biên */
    -fx-border-width: 2; /* Độ rộng của biên */
}

#mainSearchPane {
    -fx-background-color: #008080; /* Màu xanh đậm */
}
#mainBookmarkPane {
    -fx-background-color: #008080; /* Màu xanh đậm */
}
.list-cell:filled:selected {
    -fx-background-color: #8e24aa; /* Màu nền khi được chọn */
    -fx-text-fill: #ffffff; /* Màu chữ khi được chọn */
}
/*WebView*/
.web-view {
    -fx-background-radius: 10; /* Điều chỉnh độ cong của viền */
    -fx-background-color: #FFFFE0; /* Màu vàng nhạt */
}
/*choicebox-bookmark*/
.choice-box {
    -fx-background-radius: 5;
    -fx-font-family: "Arial";
    -fx-font-style: italic;
    -fx-font-weight: bold;
}
.choice-box .label {
    -fx-text-fill: black; /* Màu chữ mặc định */
}
.choice-box .label:hover {
    -fx-background-color: lightblue; /* Màu nền khi hover */
    -fx-text-fill: purple; /* Màu chữ khi hover */
}